body {
    padding: 40px;
    background-color: #EEE;
    color: #333;
    font-family: sans-serif;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 250%;
    color: #555;
}

.index-title {
    text-shadow: 2px 2px 8px;
}

.date {
    font-style: italic;
}

pre {
    padding-left: 20px;
}
